= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'load'
%body
  = render "shared/header"
  %nav.navbar
    %ul.navbar__list
      - breadcrumb :credit
      = render "shared/breadcrumbs"
  %main.main
    = render "shared/mypage-sidebar"
    %main.card-container__main
      %section.card-container__main__section
        %h2.card-container__main__section__registration
          クレジットカード情報入力
        = form_with url: card_registration_create_users_path, local: true, method: :post, class: 'card-container__main__section__form', html: { name: "inputForm"}  do |form|
          = form.hidden_field :payjpToken
          .card-container__main__section__form__box
            .card-container__main__section__form__box__group
              %label{for: "payment_card_no"} カード番号
              %span.form-require
                必須
              = form.text_field :credit_number, type: 'text', placeholder: '半角数字のみ', maxlength: "16", class: 'card-container__main__section__form__box__group__input', id: "user_credit_number"
              %ul.card-container__main__section__form__box__group__logo
                %li.card-container__main__section__form__box__group__logo__visa
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3466462615", alt: "", class: "image-visa"
                %li.card-container__main__section__form__box__group__logo__master-card
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?3466462615", alt: "", class: "image-master"
                %li.card-container__main__section__form__box__group__logo__saison-card
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?3466462615", alt: "", class: "image-saison"
                %li.card-container__main__section__form__box__group__logo__jcb
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?3466462615", alt: "", class: "image-jcb"
                %li.card-container__main__section__form__box__group__logo__amex
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?3466462615", alt: "", class: "image-amex"
                %li.card-container__main__section__form__box__group__logo__diners-card
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?3466462615", alt: "", class: "image-diners"
                %li.card-container__main__section__form__box__group__logo__discover
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?3466462615", alt: "", class: "image-discover"
            .card-container__main__section__form__box__expiration-date
              %label{for: "payment_card_expire"} 有効期限
              %span.form-require
                必須
              %br
              .card-container__main__section__form__box__expiration-date__select-box
                = form.select :exp_month, [["01", 1],["02", 2],["03", 3],["04", 4],["05", 5],["06", 6],["07", 7],["08", 8],["09", 9],["10", 10],["11", 11],["12", 12]], {}, class: 'card-container__main__section__form__box__expiration-date__select-box__content', id: "user_exp_month"
                %i.fas.fa-chevron-down
                %span.expire-text 月
                %br
              .card-container__main__section__form__box__expiration-date__select-box
                =form.select :exp_year, [["19", 2019],["20", 2020],["21", 2021],["22", 2022],["23", 2023],["24", 2024],["25", 2025],["26", 2026],["27", 2027],["28", 2028],["29", 2029]], {}, class: 'card-container__main__section__form__box__expiration-date__select-box__content', id: "user_exp_year"
                %i.fas.fa-chevron-down
                %span.expire-text 年
                %br
            .card-container__main__section__form__box__security-code
              = form.label :セキュリティコード, class: 'card-container__main__section__form__box__security-code__label'
              %span.form-require
                必須
              = form.text_field :cvc, type: 'text', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4", class: 'card-container__main__section__form__box__security-code__number', id: "user_cvc"
              .card-container__main__section__form__box__security-code__question
                .card-container__main__section__form__box__security-code__question__text
                  %span.card-container__main__section__form__box__security-code__question__text__icon> ?
                  カード裏面の番号とは？ 
            // %input{name: "payjp-token", type: "hidden", value: ""}/
            %button#token_submit.card-container__main__section__form__box__btn{type: "button"} 次へ進む
    = render "shared/sell-btn"
  = render "shared/download-ad"
  = render "shared/footer"
