= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
%body
  = render "shared/header"
  %nav.navbar
    %ul.navbar__list
      %li.navbar__list__ele
        = link_to "", class: "navbar__list__ele__link" do
          %span.navbar__list__ele__link__name
            メルカリ
        %i.fa.fa-angle-right
      %li.navbar__list__ele
        = link_to "", class: "navbar__list__ele__link" do
          %span.navbar__list__ele__link__name
            マイページ
        %i.fa.fa-angle-right
      %li.navbar__list__ele
        = link_to "", class: "navbar__list__ele__link" do
          %span.navbar__list__ele__link__name__active
            支払い方法
  %main.main
    = render "shared/mypage-sidebar"
    .main__r-content
      %section.main__r-content__card
        %h2.main__r-content__card__head
          支払い方法
        .main__r-content__card__inner
          %section
            .main__r-content__card__inner__content
              %h3.main__r-content__card__inner__content__sub-head
                クレジットカード一覧
            %ul.main__r-content__card__inner__payment-list
          %section.main__r-content__card__inner__settings
            .main__r-content__card__inner__content
              = link_to "/users/card_registration", class: "main__r-content__card__inner__content__btn" do
                %i#iconcard.far.fa-credit-card
                クレジットカードを追加する
          .main__r-content__card__inner__settings-about
            = link_to "/", target: "_blank" do
              %span#payment-about
                支払い方法について
              %i#payment-arrow-right

  = render "shared/download-ad"
  = render "shared/sell-btn"
= render "shared/footer"