= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
%body
  = render "shared/header"
  %nav.navbar
    %ul.navbar__list
      - breadcrumb :confirmation
      = render "shared/breadcrumbs"
  %main.main
    = render "shared/mypage-sidebar"
    .confirmation-content
      %h2.confirmation-content__title 本人情報の登録
      .confirmation-content__main
        .confirmation-content__main__overview
          %p
            お客さまの本人情報をご登録ください。
            %br>/
            登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          %p.confirmation-content__main__overview__text
            %a.confirmation-content__main__overview__text__letter{href: "/jp/help_center/article/495/", target: "_blank"}
              本人確認書類のアップロードについて
              %i.fa.fa-angle-right
        .confirmation-content__main__form-group
          %label.confirmation-content__main__form-group__label お名前
          %p.confirmation-content__main__form-group__text 
            = @user.last_name
            = @user.first_name
        .confirmation-content__main__form-group
          %label.confirmation-content__main__form-group__label お名前カナ
          %p.confirmation-content__main__form-group__text
            = @user.last_name_kana
            = @user.first_name_kana
        .confirmation-content__main__form-group
          %label.confirmation-content__main__form-group__label{for: "birthday"} 生年月日
          %p.confirmation-content__main__form-group__text
            = "#{@user.birthdate_year}/#{@user.birthdate_month}/#{@user.birthdate_day}"
            = form_for @address do |f|
              .confirmation-content__main__form-group
                = f.label "郵便番号"
                = f.label "任意", class: "confirmation-content__main__form-group__any"
                = f.text_field :postal_code, class: "confirmation-content__main__form-group__input"
              .confirmation-content__main__form-group
                = f.label "都道府県"
                = f.label "任意", class: "confirmation-content__main__form-group__any"
                .confirmation-content__main__form-group__select
                  = f.select :address_prefecture, User.prefectures.keys
                  -# = f.collection_select :address_prefecture,Prefecture.all, :id, :name, prompt: "大阪府"
              .confirmation-content__main__form-group
                = f.label "市区町村"
                = f.label "任意", class: "confirmation-content__main__form-group__any"
                = f.text_field :address_city, class: "confirmation-content__main__form-group__input"
              .confirmation-content__main__form-group
                = f.label "番地"
                = f.label "任意", class: "confirmation-content__main__form-group__any"
                = f.text_field :address_number, class: "confirmation-content__main__form-group__input"
              .confirmation-content__main__form-group
                = f.label "建物名"
                = f.label "任意", class: "confirmation-content__main__form-group__any"
                = f.text_field :address_building, class: "confirmation-content__main__form-group__input"
                = f.submit "登録する", class: "confirmation-content__main__btn"
              .confirmation-content__main__text-right
                %p.confirmation-content__main__text-right__p
                  %a.confirmation-content__main__text-right__p__a{href: "/jp/help_center/article/423/", target: "_blank"}
                    本人情報の登録について
                    %i.fa.fa-angle-right
        %input{name: "__csrf_value", type: "hidden", value: "fc020c457bd6c31d1180b69c4bfb4eeb06c300eaeafaf5dde2e5c06df644f978370bcbba341a03fbef0eaee213d6d715f9cd82d06f111ac28aeb5b2b5f0763fe8"}/
  = render "shared/sell-btn"
  = render "shared/download-ad"
  = render "shared/footer"
