= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
%body
  = render "shared/header"
  %nav.navbar
    %ul.navbar__list
      - breadcrumb :logout
      = render "shared/breadcrumbs"
  %main.main
    = render "shared/mypage-sidebar"
    .main__r-content
      .main__r-content__block
        .main__r-content__block__form
          = link_to "ログアウト", "/users/sign_out", method: :delete, class: "main__r-content__block__form__btn"
  = render "shared/download-ad"
  = render "shared/sell-btn"
= render "shared/footer"
