= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
%body
  = render "shared/header"
  %nav.navbar
    %ul.navbar__list
      - breadcrumb :mypage
      = render "shared/breadcrumbs"
  %main.main
    = render "shared/mypage-sidebar"
    .main__r-content
      %section.main__r-content__mypage-icon
        = link_to "/", class: "main__r-content__mypage-icon__a"  do
          %figure.main__r-content__mypage-icon__a__image
            = image_tag "member_photo.png", size: "60x60", class: "main__r-content__mypage-icon__a__image__src"
          %h2.main__r-content__mypage-icon__a__name
            = @user.nickname
          .main__r-content__mypage-icon__a__number
            .main__r-content__mypage-icon__a__number__review
              評価
              %span.main__r-content__mypage-icon__a__number__review__count
                0 
            .main__r-content__mypage-icon__a__number__sell
              出品数
              %span.main__r-content__mypage-icon__a__number__sell__count
                0
      %section.main__r-content__todo
        %ul.main__r-content__todo__list
          %li.main__r-content__todo__list__name
            %h3
              = link_to "/", class: "main__r-content__todo__list__name__link__active" do
                お知らせ
          %li.main__r-content__todo__list__name
            %h3
              = link_to "/", class: "main__r-content__todo__list__name__link" do
                やることリスト
        .main__r-content__todo__content
          %ul.main__r-content__todo__content__nofication
            %li.main__r-content__todo__content__nofication__elements
              = link_to "/", class: "main__r-content__todo__content__nofication__elements__element" do
                %figure.main__r-content__todo__content__nofication__elements__element__figure
                  = image_tag "mercari_icon2.png", class: "main__r-content__todo__content__nofication__elements__element__figure__image"
                .main__r-content__todo__content__nofication__elements__element__body
                  .main__r-content__todo__content__nofication__elements__element__body__text
                    事務局から個別メッセージ「ログイン通知」
                  .main__r-content__todo__content__nofication__elements__element__body__time
                    %i.far.fa-clock.main__r-content__todo__content__nofication__elements__element__body__time__icon
                    %span.main__r-content__todo__content__nofication__elements__element__body__time__count
                      20時間前
            %li.main__r-content__todo__content__nofication__more
              = link_to "/", class: "main__r-content__todo__content__nofication__more__link" do
                一覧を見る

      %aside.main__r-content__modal
      %section.main__r-content__tab
        %h2.main__r-content__tab__name
          購入した商品
        %ul.main__r-content__tab__status
          %li.main__r-content__tab__status__elements
            %h3
              = link_to "/", class: "main__r-content__tab__status__elements__link__active" do
                取引中
          %li.main__r-content__tab__status__elements
            %h3
              = link_to "/", class: "main__r-content__tab__status__elements__link" do
                過去の取引
        .main__r-content__tab__content
          %ul.main__r-content__tab__content__list
            %li.main__r-content__tab__content__list__element
              取引中の商品がありません

  = render "shared/download-ad"
  = render "shared/sell-btn"
= render "shared/footer"
