.step6
  %header.step6__header
    %h1
      = link_to image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2296184308', alt: 'mercari',height: '49', width: '185', class: 'step6__header__logo'), "https://www.mercari.com/jp/"
    %nav.step6__header__progress-bar.step6__header__signup-bar
      %ol.clearfix
        %li.step6__header__progress-bar__active
          会員情報
          .step6__header__progress-bar__active__status
        %li.step6__header__progress-bar__second-active
          電話番号認証
          .step6__header__progress-bar__second-active__status
        %li.step6__header__progress-bar__third-active
          お届け先住所入力
          .step6__header__progress-bar__third-active__status
        %li.step6__header__progress-bar__not-active
          支払い方法
          .step6__header__progress-bar__not-active__status
        %li.step6__header__progress-bar__not-active-last
          完了
          .step6__header__progress-bar__not-active-last__status-last
        .clearfix
  %main.single-main
    %section.l-single-container
      %h2.l-capter-head
        住所入力
      = form_for @user, url: step7_users_path, builder: CustomFormBuilder, method: :GET do |f|
        = f.fields_for :address do |i|
          .l-capter-head__content
            .form-group
              = i.label :お名前
              %span.form-require
                必須
              = i.text_field :last_name, placeholder: "例) 山田" 
              = i.text_field :first_name, placeholder: "例) 彩" 
            .form-group  
              = i.label :お名前カナ
              %span.form-require
                必須        
              = i.text_field :last_name_kana, placeholder: "例) ヤマダ" 
              = i.text_field :first_name_kana, placeholder: "例) アヤ" 
            .form-group
              = i.label :郵便番号
              %span.form-require
                必須               
              = i.text_field :postal_code, placeholder: "123-4567" 
            .form-group
              = i.label :都道府県
              %span.form-require
                必須               
              = i.select :address_prefecture, User.prefectures.keys
            .form-group
              = i.label :市区町村
              %span.form-require
                必須
              = i.text_field :address_city, placeholder: "例) 横浜市緑区" 
            .form-group
              = i.label :番地
              %span.form-require
                必須
              = i.text_field :address_number, placeholder: "例) 青山1-1-1" 
            .form-group
              = i.label :建物名
              %span.form-any
                任意
              = i.text_field :address_building, placeholder: "例) 柳ビル103" 
            .form-group
              = i.label :電話
              %span.form-any
                任意
              = i.text_field :address_phone, placeholder: "例) 09056677211" 
          .form-group-button
            = f.submit "次へ進む", class: "submit-btn"
  = render "users/footer"
