.step7-container
  %header.step7-container__header
    %h1
      = link_to image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2296184308', alt: 'mercari',height: '49', width: '185', class: 'step7-container__header__logo'), "https://www.mercari.com/jp/"
    %nav.step7-container__header__progress-bar.step7-container__header__signup-bar
      %ol.clearfix
        %li.step7-container__header__progress-bar__active
          会員情報
          .step7-container__header__progress-bar__active__status
        %li.step7-container__header__progress-bar__second-active
          電話番号認証
          .step7-container__header__progress-bar__second-active__status
        %li.step7-container__header__progress-bar__third-active
          お届け先住所入力
          .step7-container__header__progress-bar__third-active__status
        %li.step7-container__header__progress-bar__fourth-active
          支払い方法
          .step7-container__header__progress-bar__fourth-active__status
        %li.step7-container__header__progress-bar__not-active-last
          完了
          .step7-container__header__progress-bar__not-active-last__status-last
        .clearfix
  %main.step7-container__main
    %section.step7-container__main__section
      %h2.step7-container__main__section__registration
        支払い方法
      // ここでform_withを使ってuserの情報を持ってstep8のページに移った上でネストさせてカードも情報はPay.jpに送るformの記述をしたい
      // = form_with model: @user, url: step8_users_path, method: :GET, class: 'step7-container__main__section__form', html: { name: "inputForm"} do |f|
      = form_with model: @user, url: step8_users_path, local: true, method: :post, class: 'step7-container__main__section__form', html: { name: "inputForm"}  do |form|
        .step7-container__main__section__form__box
          .step7-container__main__section__form__box__group
            %label{for: "payment_card_no"} カード番号
            %span.form-require
              必須
            = form.text_field :credit_number, type: 'text', placeholder: '半角数字のみ', maxlength: "16", class: 'step7-container__main__section__form__box__group__input'
            %ul.step7-container__main__section__form__box__group__logo
              %li.step7-container__main__section__form__box__group__logo__visa
                %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3466462615", width: "49"}/
              %li.step7-container__main__section__form__box__group__logo__master-card
                %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?3466462615", width: "34"}/
              %li.step7-container__main__section__form__box__group__logo__saison-card
                %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?3466462615", width: "30"}/
              %li.step7-container__main__section__form__box__group__logo__jcb
                %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?3466462615", width: "32"}/
              %li.step7-container__main__section__form__box__group__logo__amex
                %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?3466462615", width: "21"}/
              %li.step7-container__main__section__form__box__group__logo__diners-card
                %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?3466462615", width: "32"}/
              %li.step7-container__main__section__form__box__group__logo__discover
                %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?3466462615", width: "32"}/
          .step7-container__main__section__form__box__expiration-date
            %label{for: "payment_card_expire"} 有効期限
            %span.form-require
              必須
            %br
            .step7-container__main__section__form__box__expiration-date__select-box
              = form.select :exp_month, [["01", 1],["02", 2],["03", 3],["04", 4],["05", 5],["06", 6],["07", 7],["08", 8],["09", 9],["10", 10],["11", 11],["12", 12]], {}, class: 'step7-container__main__section__form__box__expiration-date__select-box__content'
              %i.fas.fa-chevron-down
              %span.expire-text 月
              %br
            .step7-container__main__section__form__box__expiration-date__select-box
              =form.select :exp_year, [["19", 2019],["20", 2020],["21", 2021],["22", 2022],["23", 2023],["24", 2024],["25", 2025],["26", 2026],["27", 2027],["28", 2028],["29", 2029]], {}, class: 'step7-container__main__section__form__box__expiration-date__select-box__content'
              %i.fas.fa-chevron-down
              %span.expire-text 年
              %br
          .step7-container__main__section__form__box__security-code
            = form.label :セキュリティコード, class: 'step7-container__main__section__form__box__security-code__label'
            %span.form-require
              必須
            = form.text_field :cvc, type: 'text', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4", class: 'step7-container__main__section__form__box__security-code__number'
            .step7-container__main__section__form__box__security-code__question
              .step7-container__main__section__form__box__security-code__question__text
                %span.step7-container__main__section__form__box__security-code__question__text__icon> ?
                カード裏面の番号とは？ 
          %input{name: "after_save_callback", type: "hidden", value: ""}/
          %button#token_submit.step7-container__main__section__form__box__btn{type: "button"} 次へ進む

= render 'users/footer'
