%aside.download
  .download__backimage
  .download__display
    .download__display__content
      .download__display__content__left
        .download__display__content__left__text1
          スマホでかんたんフリマアプリ
        .download__display__content__left__text2
          今すぐ無料ダウンロード！
        .download__display__content__left__icon
          = image_tag "mercari_icon.png", class: "download__display__content__left__icon__merukari"
          = link_to "/", class: "download__display__content__left__icon__app" do
            = image_tag "appstore-icon.svg", class: "download__display__content__left__icon__app__store"
          = link_to "/", class: "download__display__content__left__icon__google" do
            = image_tag "google-play.svg", class: "download__display__content__left__icon__google__play"
      %figure.download__display__content__right
        = image_tag "download_app.png", class: "download__display__content__right__phone-image"
