%header.pc-header.visivle-pc
  .pc-header__inner
    .pc-header__top
      %h1
        = link_to "/" do
          = image_tag "logo.svg", size: '134x40'
      = search_form_for @q do |f|
        = f.search_field :name_cont, placeholder: "何かお探しですか?", class: "input-default"
        = f.submit id: "search_btn"
        %label.search_btn.search_icon
          = fa_icon "search"
    .pc-header__nav--box
      %nav.l-left
        %ul.pc-header__nav
          %li
            %h2
              = link_to "/", class: "pc-header__nav--root" do
                = fa_icon "list-ul", class: "icon-list"
                カテゴリーから探す
          %li
            %h2
              = link_to "/", class: "pc-header__nav--root" do
                = fa_icon "tag", class: "icon-list fa-rotate-315"
                ブランドから探す
      %nav.l-right
        %ul.pc-header__login-nav  
        - if user_signed_in?
          %li.sp-header-iine
            %a.sp-header-iine-link{href: "/jp/mypage/like/history/"}
              %i.fa.fa-heart-o
              いいね！一覧
          %li.sp-header-notice
            %a.sp-header-notice-link{href: "/jp/mypage/notification/"}
              %i.fa.fa-bell-o
              お知らせ
          %li.sp-header-todolist
            %a.sc-RefOD.jwHbWf{href: "/jp/mypage/todo/"}
              %i.fa.fa-check
              やることリスト
          %li.sp-header-mypage
            %a.sp-header-mypage-link{href: "/jp/mypage/"}
              %img.sp-header-mypage-img{alt: "", src: "https://static.mercdn.net/images/member_photo_noimage_thumb.png"}>/
              マイページ     
        - else
          %li
            = link_to "新規会員登録", new_user_registration_path, class: "sp-header-btn"
          %li
            = link_to "ログイン", new_user_session_path, class: "sp-header-btn header-login"
