.sighin
  %header.signin-header
    .signin-header__title
      = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3761641567", alt: "mercari"), root_path
  %main.signin-main
    .signin-main__box
      .signin-main__box__login
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", new_user_registration_path
      .signin-main__box__link
        #facebook-login
          %i.fab.fa-facebook-square
            = link_to "Facebookでログイン", user_facebook_omniauth_authorize_path, class: "sns-text"
        #google-login
          = image_tag "/images/google.svg", alt: "Flower"
          = link_to "Googleでログイン", user_google_oauth2_omniauth_authorize_path, class: "sns-text", id: "sns-text-google"
      - resource = User.new unless resource
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .signin-main__box__block__form  
          .signin-main__box__block__form__mail
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "login-input-text input-default"
          .signin-main__box__block__form__password
            = f.password_field :password, autocomplete: "current-password"
            .has-error
              = flash[:alert]
          .signin-main__box__block__form__robot
            .signin-main__box__block__form__robot__captcha{"data-sitekey" => "6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"}
              %div{style: "width: 304px; height: 78px;"}
                %div
                  = recaptcha_tags
                .has-error
                  = flash[:recaptcha_error]
          = f.submit "ログイン", class: "login-submit btn-default btn-red"
          =link_to "パスワードをお忘れの方"
= render 'users/footer'
