%main.category-page
  .category-page__main
    .category-page__main__list
      .category-page__main__list__one
        = link_to "/", class: ".category-page__main__list__one__text" do
          ワンピース
      .category-page__main__list__one
        = link_to "/", class: ".category-page__main__list__one__text" do
          トップス
      .category-page__main__list__one
        = link_to "/", class: ".category-page__main__list__one__text" do
          トップス
      .category-page__main__list__one
        = link_to "/", class: ".category-page__main__list__one__text" do
          トップス
      .category-page__main__list__one
        = link_to "/", class: ".category-page__main__list__one__text" do
          トップス
      .category-page__main__list__one
        = link_to "/", class: ".category-page__main__list__one__text" do
          トップス
      .category-page__main__list__one
        = link_to "/", class: ".category-page__main__list__one__text" do
          トップス
    .category-page__main__oll
      %h1.category-page__main__oll__heading 
        レディースの商品一覧
      .category-page__main__oll__contents
        .category-page__main__oll__contents__element
          = render partial: "products_element", collection: @categorys
      -# .products-show__other-products__item-box__content
      -#   -# - if other_products.id != params[:id].to_i
      -#   %section.products-show__other-products__item-box__content__one
      -#     = link_to "/", class: "products-show__other-products__item-box__content__one__link" do
      -#       .products-show__other-products__item-box__content__one__link__photo
      -#         = image_tag "https://static.mercdn.net/thumb/photos/m53358503935_1.jpg?1571898132", class: "products-show__other-products__item-box__content__one__link__photo__img"
      -#       .products-show__other-products__item-box__content__one__link__body
      -#         %h3.products-show__other-products__item-box__content__one__link__body__title アイテムホゲ
      -#         .products-show__other-products__item-box__content__one__link__body__price
      -#           .products-show__other-products__item-box__content__one__link__body__price__text= number_to_currency(10000, :format => "%u%n", :unit => "￥")