%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"}
.search_for-main
  .search_for-main__side-bar
    = search_form_for(@q, url:select_search_path, class: "search_form_side") do |f|
      .search_for-main__side-bar--soat
      .search_for-main__side-bar--title
        = f.label "詳細検索"
      .search_for-main__side-bar--keyword
        = f.label "＋ キーワードを追加する"
        = f.search_field :name_cont
      .search_for-main__side-bar--category
        = f.label "カテゴリーを選択する"
        = f.collection_select :category_id_eq, @category, :id, :name,{include_blank: "全て"}, {class: "category_select", id: "q_category_id"}
      .search_for-main__side-bar--brand
        = f.label "ブランド名から探す"
        = f.search_field :brand_id_eq
      .search_for-main__side-bar--price
        = f.label "価格"
        = f.search_field :price_gteq, placeholder: "¥ Min"
        = f.search_field :price_lteq, placeholder: "¥ Max"
      .search_for-main__side-bar--stage
        = f.label "商品の状態"
        .search_for-main__side-bar--stage--box
          = f.check_box :stage_in, { multiple: true }, "新品・未使用", nil
          = "新品未使用"
        .search_for-main__side-bar--stage--box
          = f.check_box :stage_in, { multiple: true }, "未使用に近い", nil
          = "未使用に近い"
        .search_for-main__side-bar--stage--box
          = f.check_box :stage_in, { multiple: true }, "目立った傷や汚れなし", nil
          = "目立った傷や汚れなし"
        .search_for-main__side-bar--stage--box
          = f.check_box :stage_in, { multiple: true }, "やや傷や汚れあり", nil
          = "やや傷や汚れあり"
        .search_for-main__side-bar--stage--box
          = f.check_box :stage_in, { multiple: true }, "傷や汚れあり", nil
          = "傷や汚れあり"
        .search_for-main__side-bar--stage--box
          = f.check_box :stage_in, { multiple: true }, "全体的に状態が悪い", nil
          = "全体的に状態が悪い"
     
     
     
     
     
     
    
     
      = f.submit

  








  .search_for-main__products
    .search_for-main__name
      .search_for-main__name_a
        = @q.name_cont
      .search_for-main__name_b
        の検索結果
    .search_for-main__count
      = @count + "件表示"
    .search_for-main__products-box
      = render partial: "products/products_element", collection: @products
  .search_for-main__breadcrumb
    - breadcrumb :product, @q
    = render "shared/breadcrumbs"
= render "shared/download-ad"
= render "shared/sell-btn"
