.search_for-main
  .search_for-main__side-bar
    = search_form_for(@q, url:select_search_path, class: "search_form_side") do |f|
      .search_for-main__side-bar--soat
      .search_for-main__side-bar--title
        = f.label "詳細検索"
      .search_for-main__side-bar--keyword
        = f.label "＋ キーワードを追加する"
        = f.search_field :name_cont
      .search_for-main__side-bar--category
        = f.label "カテゴリーを選択する"
        = f.collection_select :category_id_eq, @category, :id, :name, {prompt: "全て"}, {class: "category_select", id: "q_category_id"}
      = f.submit

  








  .search_for-main__products
    .search_for-main__name
      .search_for-main__name_a
        = @q.name_cont
      .search_for-main__name_b
        の検索結果
    .search_for-main__count
      = @count + "件表示"
    .search_for-main__products-box
      = render partial: "products/products_element", collection: @products
  .search_for-main__breadcrumb
    - breadcrumb :product, @q
    = render "shared/breadcrumbs"
= render "shared/download-ad"
= render "shared/sell-btn"
