.body
  .contents
    .contents__content
      .contents__content__image
        = link_to "/" do
          = image_tag "index_keyvisual.png", size: "680x340"
        .contents__content__image__slider
          .contents__content__image__slider__name
      .contents__content__popular-caterory
        %h2.contents__content__popular-caterory__name
          人気のカテゴリー
        .contents__content__popular-caterory__genre
          %ul.contents__content__popular-caterory__genre__elements
            %li.contents__content__popular-caterory__genre__elements__element
              レディース
            %li.contents__content__popular-caterory__genre__elements__element
              メンズ
            %li.contents__content__popular-caterory__genre__elements__element
              家電・スマホ・カメラ
            %li.contents__content__popular-caterory__genre__elements__element
              おもちゃ・ホビー・グッズ
      .contents__content__category-list
        .contents__content__category-list__box
          .contents__content__category-list__box__name
            %h3.contents__content__category-list__box__name__new-item
              レディース新着アイテム
            = link_to "/", class: "contents__content__category-list__box__name__more" do
              もっと見る 
          .contents__content__category-list__box__elements
            .contents__content__category-list__box__elements__element
              = render partial: "products_element", collection: @ladies
              -# = render "products_element"
              -# = render "products_element"
              -# = render "products_element"
              -# = render "products_element"
      .contents__content__popular-brand
        %h2.contents__content__popular-brand__name
          人気のブランド
        .contents__content__popular-brand__genre
          %ul.contents__content__popular-brand__genre__elements
            %li.contents__content__popular-brand__genre__elements__element
              シャネル
            %li.contents__content__popular-brand__genre__elements__element
              ルイヴィトン
            %li.contents__content__popular-brand__genre__elements__element
              シュプリーム
            %li.contents__content__popular-brand__genre__elements__element
              ナイキ
      .contents__content__brand-list
        .contents__content__brand-list__box
          .contents__content__brand-list__box__name
            %h3.contents__content__brand-list__box__name__new-item
              シャネル新着アイテム
            = link_to "/", class: "contents__content__brand-list__box__name__more" do
              もっと見る
          .contents__content__brand-list__box__elements
            .contents__content__brand-list__box__elements__element
              = render partial: "products_element", collection: @chanel
              -# = render "products_element"
  = render "shared/download-ad"
  = render "shared/sell-btn"
  