.confirmation
  %header.confirmation__header
    %h1
      = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3761641567", alt: "mercari", class: "confirmation__header__title"), root_path
  %main.confirmation__main
    %section.confirmation__main__box
      %h2.confirmation__main__box__title 購入内容の確認
      %sction.confirmation__main__box__buy-item
        .confirmation__main__box__buy-item__inner
          %h3.confirmation__main__box__buy-item__inner__image
            = image_tag(@product.product_images.first.image.url, class: "confirmation__main__box__buy-item__inner__image__height", size: "64x100")
          %p.confirmation__main__box__buy-item__inner__name= @product.name
          = form_with url: product_product_pay_path, local: true, method: :post, class: 'confirmation__main__box__buy-item__inner__form', novalidate: "novalidate" do |f|
            %p.confirmation__main__box__buy-item__inner__form__price 
              = "¥" + @product.price.to_s
              %span.confirmation__main__box__buy-item__inner__form__price__fee 送料込み
            %ul.confirmation__main__box__buy-item__inner__form__accordion
              %li.confirmation__main__box__buy-item__inner__form__accordion__parent
                .confirmation__main__box__buy-item__inner__form__accordion__toggle ポイントはありません
            %ul.confirmation__main__box__buy-item__inner__form__price__table
              %li.confirmation__main__box__buy-item__inner__form__price__box
                .confirmation__main__box__buy-item__inner__form__price-cell 支払い金額
                .confirmation__main__box__buy-item__inner__form__price-cell
                  %span.confirmation__main__box__buy-item__inner__form__price-cell__data= "¥" + @product.price.to_s
            = f.button type: "submit", class: "confirmation__main__box__buy-item__inner__form__btn" do
              購入する
      %sction.confirmation__main__box__buy-user-info
        .confirmation__main__box__buy-user-info__inner
          %h3 配送先
          %address.confirmation__main__box__buy-user-info__inner__address-text
            = "〒" + @address.postal_code
            %br/
            = @address.address_prefecture + @address.address_city
            = @address.address_number
            %br/
            = @user.last_name + @user.first_name
          %p.confirmation__main__box__buy-user-info__inner__text
          = link_to "/", class: "confirmation__main__box__buy-user-info__inner__fix" do
            %span 変更する
            %i.icon-arrow-right
      %sction.confirmation__main__box__buy-user-info
        .confirmation__main__box__buy-user-info__inner
          %h3 支払い方法
          %p.confirmation__main__box__buy-user-info__inner__text
            = "**** **** **** " + @default_card_information.last4
            %br/
            = @exp_month + " / " + @exp_year
          .confirmation__main__box__buy-user-info__inner__card-brand
            = image_tag "http://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3466462615", size: "49x15"
          %p
          = link_to "/", class: "confirmation__main__box__buy-user-info__inner__fix" do
            変更する
            %i.icon-arrow-right
          .confirmation__main__box__buy-user-info__inner--last

= render 'users/footer'