%body
  %nav.navbar
    %ul.navbar__list
      %li.navbar__list__ele
        = link_to "", class: "navbar__list__ele__link" do
          %span.navbar__list__ele__link__name
            メルカリ
        %i.fa.fa-angle-right
      %li.navbar__list__ele
        = link_to "", class: "navbar__list__ele__link" do
          %span.navbar__list__ele__link__name__active
            マイページ
  %main.main
    .main__l-side
      %nav.main__l-side__nav
        %ul.main__l-side__nav__list
          %li
            = link_to "/users/mypage", class: "main__l-side__nav__list__item" do
              マイページ
              %span.main__l-side__nav__list__item__number
              %i.icon-arrow-right
          %li
            = link_to "/", class: "main__l-side__nav__list__item" do
              お知らせ
              %i.icon-arrow-right
          %li
            = link_to "/", class: "main__l-side__nav__list__item" do
              やることリスト
              %i.icon-arrow-right
          %li
            = link_to "/", class: "main__l-side__nav__list__item" do
              いいね！一覧
              %i.icon-arrow-right
          %li
            = link_to "/", class: "main__l-side__nav__list__item" do
              出品する
              %i.icon-arrow-right
          %li
            = link_to "/products/selling_stage", class: "main__l-side__nav__list__item" do
              出品した商品 - 出品中
              %i.icon-arrow-right
          %li
            = link_to "/products/selling_stage2", class: "main__l-side__nav__list__item__active" do
              出品した商品 - 取引中
              %i.icon-arrow-right
          %li
            = link_to "/products/selling_stage3", class: "main__l-side__nav__list__item" do
              出品した商品 - 売却済み
              %i.icon-arrow-right
          %li
            = link_to "/", class: "main__l-side__nav__list__item" do
              購入した商品 - 取引中
              %i.icon-arrow-right
          %li
            = link_to "/", class: "main__l-side__nav__list__item" do
              購入した商品 - 過去の取引
              %i.icon-arrow-right
          %li
            = link_to "/", class: "main__l-side__nav__list__item" do
              ニュース一覧
              %i.icon-arrow-right
          %li
            = link_to "/", class: "main__l-side__nav__list__item" do
              評価一覧
              %i.icon-arrow-right
          %li
            = link_to "/", class: "main__l-side__nav__list__item" do
              ガイド
              %i.icon-arrow-right
          %li
            = link_to "/", class: "main__l-side__nav__list__item" do
              お問い合わせ
              %i.icon-arrow-right
        %h3.main__l-side__nav__head
          メルペイ
        %ul.main__l-side__nav__list
          %li
            = link_to "/", class: "main__l-side__nav__list__item" do
              売り上げ・振込申請
              %i.icon-arrow-right
          %li
            = link_to "/", class: "main__l-side__nav__list__item" do
              ポイント
              %i.icon-arrow-right
        %h3.main__l-side__nav__head
          設定
        %ul.main__l-side__nav__list
          %li
            = link_to "/", class: "main__l-side__nav__list__item" do
              プロフィール
              %i.icon-arrow-right
          %li
            = link_to "/", class: "main__l-side__nav__list__item" do
              発送元・お届け先住所変更
              %i.icon-arrow-right
          %li
            = link_to "/", class: "main__l-side__nav__list__item" do
              支払い方法
              %i.icon-arrow-right
          %li
            = link_to "/", class: "main__l-side__nav__list__item" do
              メール/パスワード
              %i.icon-arrow-right
          %li
            = link_to "/users/confirmation", class: "main__l-side__nav__list__item" do
              本人情報
              %i.icon-arrow-right
          %li
            = link_to "/", class: "main__l-side__nav__list__item" do
              電話番号の確認
              %i.icon-arrow-right
          %li
            = link_to "/", class: "main__l-side__nav__list__item" do
              ログアウト
              %i.icon-arrow-right

    .main__r-content
      %section.main__r-content__product
        %h2.main__r-content__product__heading
          出品した商品
        %ul.main__r-content__product__tabs
          %li.main__r-content__product__tabs__tab.active
            %h3.main__r-content__product__tabs__tab__heading
              = link_to "出品中", "/products/selling_stage", class: "main__r-content__product__tabs__tab__heading__a" 
          %li.main__r-content__product__tabs__tab
            %h3.main__r-content__product__tabs__tab__heading
              = link_to "取引中", "/products/selling_stage2", class: "main__r-content__product__tabs__tab__heading__a" 
          %li.main__r-content__product__tabs__tab
            %h3.main__r-content__product__tabs__tab__heading
              = link_to "売却済み", "/products/selling_stage3", class: "main__r-content__product__tabs__tab__heading__a" 
        - @products.each do |product|
          - if product.stage == 0
            .main__r-content__product__ele
              %ul.main__r-content__product__ele__list
                %li.main__r-content__product__ele__list__item
                  = link_to "/products/#{product.id}", class: "main__r-content__product__ele__list__item__a" do
                    %figure.main__r-content__product__ele__list__item__a__img
                      = image_tag  product.product_images.first.image.url, class: "main__r-content__product__ele__list__item__a__img__content", size: "50×50"
                    .main__r-content__product__ele__list__item__a__detail
                      .main__r-content__product__ele__list__item__a__detail__text
                        = product.name
                      .main__r-content__product__ele__list__item__a__detail__list
                        %span.main__r-content__product__ele__list__item__a__detail__list__count
                          %i.far.fa-heart.main__r-content__product__ele__list__item__a__detail__list__count__icon
                          .main__r-content__product__ele__list__item__a__detail__list__count__number
                            0
                        %span.main__r-content__product__ele__list__item__a__detail__list__count
                          %i.far.fa-comment-alt.main__r-content__product__ele__list__item__a__detail__list__count__icon
                          .main__r-content__product__ele__list__item__a__detail__list__count__number
                            0
                        .main__r-content__product__ele__list__item__a__detail__list__stage
                          出品中
                    %i.icon-arrow-right

  = render "shared/sell-btn"
  = render "shared/download-ad"