!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mercari
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  %header.pc-header.visivle-pc
    .pc-header__inner
      .pc-header__top
        %h1
          = link_to "/" do
            = image_tag "logo.svg", size: '134x40'
        = search_form_for @q do |f| 
          = f.search_field :name_cont, placeholder: "何かお探しですか?", class: "input-default"
          = f.submit id: "search_btn"
          %label(for="search_btn" class="search_icon")
            = fa_icon "search"
      .pc-header__nav--box
        %nav(class="l-left")  
          %ul(class="pc-header__nav")  
            %li
              %h2
                = link_to "/", class: "pc-header__nav--root" do 
                  = fa_icon "list-ul", class: "icon-list"
                  カテゴリーから探す
            %li
              %h2
                = link_to "/", class: "pc-header__nav--root" do
                  = fa_icon "tag", class: "icon-list fa-rotate-315"
                  ブランドから探す
        %nav(class="l-right") 
          %ul(class="pc-header__login-nav")
            %li
              = link_to "新規会員登録", "/", class: "sp-header-btn"
            %li
              = link_to "ログイン", "/", class: "sp-header-btn header-login"  
    = yield
  %footer.global-footer
    %nav.clearfix
      .footer-cell
        %h2.footer-head
          メルカリについて
        %ul
          %li
            = link_to "会社概要(運営会社)", "/"
          %li
            = link_to "採用情報", "/"
          %li
            = link_to "プレスリリース", "/"
          %li
            = link_to "公式ブログ", "/"
          %li
            = link_to "メルカリロゴ利用ガイドライン", "/"
          %li.footer-social-link
            = link_to "/" do
              = fa_icon "twitter", class: "icon_twitter fa-3x"
          %li.footer-social-link
            = link_to "/" do
              = fa_icon "facebook-square", class: "icon_facebook fa-3x"
      .footer-cell
        %h2.footer-head
          ヘルプ&ガイド
        %ul
          %li
            = link_to "メルカリガイド", "/"
          %li
            = link_to "らくらくメルカリ便", "/"
          %li
            = link_to "ゆうゆうメルカリ便", "/"
          %li
            = link_to "大型メルカリ便", "/"
          %li
            = link_to "車体取引ガイド", "/"
          %li
            = link_to "メルカリあんしん,あんぜん宣言", "/"
          %li
            = link_to "偽ブランド品撲滅への取り組み", "/"
          %li
            = link_to "メルカリボックス", "/"
      .footer-cell.full-width
        %h2.footer-head
          プライバシーと利用規約
        .inner-footer-cell  
          %ul
            %li
              = link_to "プライバシーポリシー", "/"
            %li
              = link_to "メルカリ利用規約", "/"
            %li
              = link_to "あんしんスマホサポート制度に関する利用特約", "/"
            %li
              = link_to "コンプライアンスポリシー", "/"
        .inner-footer-cell  
          %ul
            %li
              = link_to "個人データのあんぜん管理に関わる基本方針", "/"
            %li
              = link_to "特定商取引特定商取引い関する表記", "/"
            %li
              = link_to "資金決済法資金決済法に基づく表示", "/"
            %li
              = link_to "法令遵守と犯罪抑止のために", "/"  
      .footer-cell.footer-nav-lang
        %h2.footer-head
          国
        %ul
          %li
            = link_to "日本", "/"
          %li
            = link_to "United", "/"
    .footer-bottom
      = link_to "/", class: "footer-logo" do
        = image_tag "logo-white.svg"
      %span.footer-copyright
        %small
          @ 2019 Mercari  
