!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mercari
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  %header.pc-header.visivle-pc
    .pc-header__inner
      .pc-header__top
        %h1
          = link_to "/" do
            = image_tag "logo.svg", size: '134x36'
        = search_form_for @q do |f| 
          = f.search_field :name_cont, placeholder: "何かお探しですか?", class: "input-default"
          = f.submit id: "search_btn"
          %label(for="search_btn" class="search_icon")
            = fa_icon "search"
      .pc-header__nav--box
        %nav(class="l-left")  
          %ul(class="pc-header__nav")  
            %li
              %h2
                = link_to "/", class: "pc-header__nav--root" do 
                  = fa_icon "list-ul"
                  カテゴリーから探す
    = yield
